body {
	background-color: white;
}
@import url(https://fonts.googleapis.com/css?family=Pacifico);

h1 {
	color: black;
	text-align: center;
	font-family: 'Pacifico';
	font-size: 30px;
}
h2 {
	color: black;
	text-transform: uppercase;
	font-family: sans-serif; 
	line-height: 1em;
	font-size: 70px;
}
h3	{
	color: black;
	text-transform: uppercase;
	font-family: sans-serif; 
	line-height: 1em;
	font-size: 70px;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:700);
p {
	color: red;
	font-family: 'Oswald';
	text-align: center;
	margin: 2em;
	font-size: 18px;
}